__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/
*.log
reports/
playwright-report/
test-results/
*.zip
*.png
.DS_Store
.vscode/
.idea/
.env
.mypy_cache/
.ruff_cache/
node_modules/